ion-button {
  --border-radius: 5px;
  --background: #8f8585;
}

.main-background-color {
  --background: #ce3f3fe5;
  color: whitesmoke;
}

.main-button-color {
  color: #f2f2f2;
}

.secondary-background-color {
  background-color: whitesmoke;
  color: #ce3f3fe5;
}
