.fire {
  background-color: #ee8130;
  color: #ffffff;

  --background: #ee8130;
  --color: #ffffff;
}

.water {
  background-color: #6390f0;
  color: #ffffff;

  --background: #6390f0;
  --color: #ffffff;
}

.grass {
  background-color: #7ac74c;
  color: #ffffff;

  --background: #7ac74c;
  --color: #ffffff;
}

.bug {
  background-color: #a6b91a;
  color: #ffffff;

  --background: #a6b91a;
  --color: #ffffff;
}

.poison {
  background-color: #a040a0;
  color: #ffffff;

  --background: #a040a0;
  --color: #ffffff;
}

.flying {
  background-color: #a040a0;
  color: #ffffff;

  --background: #a040a0;
  --color: #ffffff;
}

.steel {
  background-color: #b8b8d0;
  color: #ffffff;

  --background: #b8b8d0;
  --color: #ffffff;
}

.normal {
  background-color: #a8a77a;
  color: #ffffff;

  --background: #a8a77a;
  --color: #ffffff;
}

.fairy {
  background-color: #d685ad;
  color: #ffffff;

  --background: #d685ad;
  --color: #ffffff;
}

.ground {
  background-color: #e2bf65;
  color: #ffffff;

  --background: #e2bf65;
  --color: #ffffff;
}

.fighting {
  background-color: #c22e28;
  color: #ffffff;

  --background: #c22e28;
  --color: #ffffff;
}

.psychic {
  background-color: #f95587;
  color: #ffffff;

  --background: #f95587;
  --color: #ffffff;
}

.rock {
  background-color: #b6a136;
  color: #ffffff;

  --background: #b6a136;
  --color: #ffffff;
}

.electric {
  background-color: #f7d02c;
  color: #ffffff;

  --background: #f7d02c;
  --color: #ffffff;
}

.ghost {
  background-color: #735797;
  color: #ffffff;

  --background: #735797;
  --color: #ffffff;
}

.dragon {
  background-color: #6f35fc;
  color: #ffffff;

  --background: #6f35fc;
  --color: #ffffff;
}

.ice {
  background-color: #96d9d6;
  color: #ffffff;

  --background: #96d9d6;
  --color: #ffffff;
}

.dark {
  background-color: #705746;
  color: #ffffff;

  --background: #705746;
  --color: #ffffff;
}
