.fire {
  background-color: #ee8130;
  color: #ffffff;

  --background: #ee8130;
  --color: #ffffff;
}

.water {
  background-color: #6390f0;
  color: #ffffff;

  --background: #6390f0;
  --color: #ffffff;
}

.grass {
  background-color: #7ac74c;
  color: #ffffff;

  --background: #7ac74c;
  --color: #ffffff;
}

.bug {
  background-color: #a6b91a;
  color: #ffffff;

  --background: #a6b91a;
  --color: #ffffff;
}

.poison {
  background-color: #a040a0;
  color: #ffffff;

  --background: #a040a0;
  --color: #ffffff;
}

.flying {
  background-color: #a040a0;
  color: #ffffff;

  --background: #a040a0;
  --color: #ffffff;
}

.steel {
  background-color: #b8b8d0;
  color: #ffffff;

  --background: #b8b8d0;
  --color: #ffffff;
}
