$primary-color: #ffffff;
$secondary-color: #ffffff;
$third-color: #332525;

.text-center {
  text-align: center;
.text-center {
  text-align: center;
}

.primary-background {
  background-color: $primary-color;
  color: $secondary-color;
}

.card-component {
  height: 550px;
}

@media (min-width: 600px) {
  .card-component {
    height: 300px;
  }
}
