$primary-color: #ffffff;
$secondary-color: #ffffff;
$third-color: #332525;

.text-center{
    text-align: center;
}

.fire{
    background-color:#EE8130;
    color: $secondary-color;
}

.water{
    background-color: #6390F0;
    color: $secondary-color;
}

.grass{
    background-color:#7AC74C;
    color: $secondary-color;
}

.bug{
    background-color:#A6B91A;
    color: $secondary-color;
}

.primary-background{
    background-color: $primary-color;
    color: $secondary-color;
}