<ng-content [fullscreen]="true" class="ion-padding">
  <ion-header style="height: 5vh">
    <ion-title class="text-center" style="margin-top: 10px; margin-bottom: auto"
      >My Pokedex</ion-title
    >
  </ion-header>
  <ion-grid style="margin-top: 10vh">
    <ion-row>
      <ion-col size="6" class="scrolable full-page-height">
        <pokemon-list-component />
      </ion-col>
      <ion-col size="6" class="scrolable"> Search bar goes here </ion-col>
    </ion-row>
  </ion-grid>
</ng-content>
