
$primary-color: #115555;
$secondary-color: #ffffff;
$third-color: #332525;



.text-center{
    text-align: center;
}

.primary-background{
    background-color: $primary-color;
    color: $secondary-color;
}
