$primary-color: #115555;
$secondary-color: #ffffff;
$third-color: #332525;

.text-center {
  text-align: center;
}

.scrolable {
  overflow-y: auto;
}

.half-page-height {
  height: 50vh;
}

.full-page-height {
  height: 100vh;
}

.primary-background {
  background-color: $primary-color;
  color: $secondary-color;
}
